APP_TITLE='title'

SECRET_KEY='change-in-production'

DATABASE_URL='postgresql+asyncpg://user:111111@db:5432/database'

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword
ADMIN_FULLNAME='site admin'


CELERY_BROKER_URL='redis://redis:6379/1'
CELERY_RESULT_BACKEND='redis://redis:6379/1'


CORS_ORIGINS='http://localhost:3000,http://localhost:5173'